/* Write your CSS here */

.bg-container {
  background-color: #ffffff;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-container {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  width: 60%;
  height: 70%;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  color: #334155;
  font-family: 'Roboto';
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 12px;
}

.button {
  background-color: #ffffff;
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  border-width: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
  margin-bottom: 10px;
}

.bottom-description {
  color: #334155;
  font-family: 'Roboto';
  font-size: 23px;
  font-weight: 400;
}
